# Ignore system directories
AppData/
Application Data/
Cookies/
Local Settings/
My Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Start Menu/

# Ignore user folders
Downloads/
Desktop/
Documents/
Music/
Videos/
Pictures/

# Ignore tooling
.vscode/
.qodo/
.cache/
.aws/
.ssh/
.ipynb_checkpoints/
VirtualBox VMs/
node_modules/

# Ignore OS files
desktop.ini
NTUSER.DAT*

# Ignore everything above project root
../*